@import "./colors.css";

.item-price {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
}

.store-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.store-list {
    background-color: #141414;
    border: 1px solid;
    border-color: var(--purple0_9);
    border-radius: 8px;
    box-shadow: 0 2px 4px var(--purple1);
    margin: 10px;
    width: 200px;
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
    
}

.store-list:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.store-list img {
    max-width: 100%;
    height: 96px; /* Set a fixed height for the images */
    border-radius: 4px;
    margin-bottom: 10px; /* Add margin to the bottom of the images */
}

.store-list p {
    margin: 10px 0;
    text-align: center; /* Center align text */
}

.price-record {
    line-height: 0.7; /* Adjust the line height */
    /* Remove margin */
    padding: 0; /* Remove padding */
    border: none; /* Remove border if any */
}

